<header>
  <div class="header-menu-item" id="main-logo">
    Main Logo Here
  </div>

  <div class="header-menu-item" id="section-header">
    Section Header
  </div>

  <div class="header-menu-item" id="application-name">
    Contracto
  </div>

  <div class="header-menu-item" id="hamburger">
    Hamburger
  </div>
  <div id="sidebar-right" class="hidden">
    <div class="flash-messages header-menu-item" id="devise">
      <% if admin_signed_in? %>
        Logged in as <strong><%= current_admin.email %></strong>.
        <%= link_to 'Edit profile', edit_admin_registration_path %> |
        <%= link_to "Logout", destroy_admin_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign up", new_admin_registration_path %> |
        <%= link_to "Login", new_admin_session_path %>
      <% end %>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
  </div>
</header>

