<!DOCTYPE html>
<html>
<head>
  <title>Contracto</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render "layouts/header" %>
  <!-- <div> -->
    <%= render "layouts/sidebar_left" %>
    <%= render "layouts/sidebar_right" %>
      <%= yield %> <!-- This is yeilding a 1 page app at companies/show -->
  <!-- </div> -->

</body>
</html>
